#chama * {
    display: flex;
    font-family: 'Inter', sans-serif;
}

#chama {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 1px;
    display: none;
    justify-content: center;
    align-items: center;
}

#chaminha {
    min-width: 37rem;
    max-width: 50rem;
    width: 50%;

    min-height: 27rem;
    max-height: 27rem;
    height: 50%;

    flex-direction: column;
    border-radius: 15px;
    background-color: #2A2634;
}

#chaminha h2 {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    color: white;
    padding-left: 10px;
    padding-bottom: 0.5%;
}

#newGameInfo {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7%;
    margin-bottom: 10%;
    flex-direction: column;

    justify-self: center;
    gap: 20px;

}

.newGameInfoInput {
    background-color: rgb(32, 32, 32);
    padding: 0.5rem;
    color: white;
}

#newGameButton {
    color: white;
    justify-content: center;
    gap: 15%;
}

#newGameButton div {
    padding: 5px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    transition: transform 0.5s;
}

.newGameInfoButton {
    padding: 1rem 4rem;
    border-radius: 15px;
    background-color: #2A2634;
    color: white;
}

#newGameButton div:hover {
    transform: scale(1.1);
}